<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="../style/bootstrap.css" rel="stylesheet" />
    <link href="../slick/slick.css" rel="stylesheet" />
    <link href="../slick/slick-theme.css" rel="stylesheet" />
    <link href="../style/header.css" rel="stylesheet" />
    <link href="../style/footer.css" rel="stylesheet" />
    <link href="../style/contact.css" rel="stylesheet" />
</head>
<body>
    <header class="header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <nav>
            <ul>
                <li><a href="./index.html">ANA SAYFA</a></li>
                <li><a href="./products.html">ÜRÜNLER</a></li>
                <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                <li><a href="./contact.html">İLETİŞİM</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </header>
    <header class="mobile-header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <div class="menu-button"><i class="fas fa-bars"></i></div>
    </header>
    <section class="mobile-menu-content">
        <div class="mobile-head">
            <img src="../images/logowhite.png" alt="logo" />
            <i class="fas fa-times close-menu-icon"></i>
        </div>
        <div class="mobile-menu">
            <h3>MENÜ</h3>
            <nav>
                <ul>
                    <li><a href="./index.html">ANA SAYFA</a></li>
                    <li><a href="./products.html">ÜRÜNLER</a></li>
                    <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                    <li><a href="./contact.html">İLETİŞİM</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </section>
    <section class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 map-div">
                    <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%25&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=h&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="contact-info">
                        <h5>LOREM</h5>
                        <p class="address">
                            Lorem Cad. Ipsum Sk. No:5
                            <br />
                            Kat:2 Sirkeci – Fatih / İstanbul / TÜRKİYE
                        </p>
                        <p>Müşteri Hizmetleri: (0555) 555 55 55</p>
                        <p>Mail: lorem@ispum.com</p>
                    </div>
                    <div class="contact-form">
                        <form action="/" method="post">
                            <div class="row">
                                <div class="form-group col-12 col-lg-6">
                                    <input class="form-control" type="text" name="nameSurname" value="" placeholder="ADINIZ & SOYADINIZ" />
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <input class="form-control" type="text" name="phone" value="" placeholder="TELEFON NUMARANIZ" />
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <input class="form-control" type="email" name="email" value="" placeholder="E-POSTA ADRESİNİZ" />
                                </div>
                                <div class="form-group col-12 col-lg-6">
                                    <input class="form-control" type="text" name="subject" value="" placeholder="KONU" />
                                </div>
                                <div class="form-group col-12">
                                    <textarea class="form-control" placeholder="YORUMUNUZ" rows="5"></textarea>
                                </div>
                                <button type="submit">GÖNDER</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        <p class="copyright">Oğuzhan Yakupoğlu 2021</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="../slick/slick.js"></script>
    <script src="../script/header.js"></script>
</body>
</html>