<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Marketing</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="../style/bootstrap.css" rel="stylesheet" />
    <link href="../slick/slick.css" rel="stylesheet" />
    <link href="../slick/slick-theme.css" rel="stylesheet" />
    <link href="../style/header.css" rel="stylesheet" />
    <link href="../style/footer.css" rel="stylesheet" />
    <link href="../style/index.css" rel="stylesheet" />
</head>
<body>
    <header class="header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <nav>
            <ul>
                <li><a href="./index.html">ANA SAYFA</a></li>
                <li><a href="./products.html">ÜRÜNLER</a></li>
                <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                <li><a href="./contact.html">İLETİŞİM</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </header>
    <header class="mobile-header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <div class="menu-button"><i class="fas fa-bars"></i></div>
    </header>
    <section class="mobile-menu-content">
        <div class="mobile-head">
            <img src="../images/logowhite.png" alt="logo" />
            <i class="fas fa-times close-menu-icon"></i>
        </div>
        <div class="mobile-menu">
            <h3>MENÜ</h3>
            <nav>
                <ul>
                    <li><a href="./index.html">ANA SAYFA</a></li>
                    <li><a href="./products.html">ÜRÜNLER</a></li>
                    <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                    <li><a href="./contact.html">İLETİŞİM</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </section>
    <section class="main-slider">
        <div class="main-slider-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 slider-text">
                        <h1>Mouse</h1>
                        <h4>Lorem Ipsum is simply dummy</h4>
                        <h4>Lorem Ipsum is simply dummy</h4>
                        <h4>Lorem Ipsum is simply dummy</h4>
                    </div>
                    <div class="col-12 col-lg-6 slider-image">
                        <img src="../images/products/mouse.png" alt="mouse" />
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 slider-text">
                        <h1>Headset</h1>
                        <h4>Lorem Ipsum is simply dummy</h4>
                        <h4>Lorem Ipsum is simply dummy</h4>
                        <h4>Lorem Ipsum is simply dummy</h4>
                    </div>
                    <div class="col-12 col-lg-6 slider-image">
                        <img src="../images/products/headset.png" alt="headset" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        <p class="copyright">Oğuzhan Yakupoğlu 2021</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="../slick/slick.js"></script>
    <script src="../script/header.js"></script>
    <script src="../script/index.js"></script>
</body>
</html>