<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="../style/bootstrap.css" rel="stylesheet" />
    <link href="../slick/slick.css" rel="stylesheet" />
    <link href="../slick/slick-theme.css" rel="stylesheet" />
    <link href="../style/header.css" rel="stylesheet" />
    <link href="../style/footer.css" rel="stylesheet" />
    <link href="../style/product.css" rel="stylesheet" />
</head>
<body>
    <header class="header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <nav>
            <ul>
                <li><a href="./index.html">ANA SAYFA</a></li>
                <li><a href="./products.html">ÜRÜNLER</a></li>
                <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                <li><a href="./contact.html">İLETİŞİM</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </header>
    <header class="mobile-header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <div class="menu-button"><i class="fas fa-bars"></i></div>
    </header>
    <section class="mobile-menu-content">
        <div class="mobile-head">
            <img src="../images/logowhite.png" alt="logo" />
            <i class="fas fa-times close-menu-icon"></i>
        </div>
        <div class="mobile-menu">
            <h3>MENÜ</h3>
            <nav>
                <ul>
                    <li><a href="./index.html">ANA SAYFA</a></li>
                    <li><a href="./products.html">ÜRÜNLER</a></li>
                    <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                    <li><a href="./contact.html">İLETİŞİM</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </section>

    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 product-info">
                    <h2><strong>G</strong> 430</h2>
                    <ul>
                        <li>simply dummy text</li>
                        <li>simply dummy text</li>
                        <li>simply dummy text</li>
                        <li>simply dummy text</li>
                    </ul>
                    <p class="price">3333 ₺</p>
                    <button class="buy">HEMEN <strong>SATIN AL</strong></button>
                </div>
                <div class="col-12 col-lg-6 product-image">
                    <div class="product-slide">
                        <img src="../images/products/headset.png" alt="headset image" />
                        <img src="../images/products/headset2.png" alt="headset2 image" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detail">
        <button class="detail-btn">Teknik Özellikler</button>
        <div class="inner">
            <p>Özellikler:</p>
            <ul>
                <li>
                    Lorem Ipsum
                </li>
                <li>
                    Lorem Ipsum is simply dummy text
                </li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                <li>
                    Lorem Ipsum
                </li>
                <li>
                    Lorem Ipsum is simply dummy text
                </li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                <li>
                    Lorem Ipsum
                </li>
                <li>
                    Lorem Ipsum is simply dummy text
                </li>
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            </ul>
            <p>İçindekler:</p>
            <ul>
                <li>
                    Lorem Ipsum
                </li>
                <li>
                    Lorem Ipsum is simply dummy text
                </li>
                <li>
                    Lorem Ipsum
                </li>
                <li>
                    Lorem Ipsum is simply dummy text
                </li>
                <li>
                    Lorem Ipsum
                </li>
            </ul>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>

    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        <p class="copyright">Oğuzhan Yakupoğlu 2021</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="../slick/slick.js"></script>
    <script src="../script/header.js"></script>
    <script src="../script/product.js"></script>
</body>
</html>