<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
    <link href="../style/bootstrap.css" rel="stylesheet" />
    <link href="../slick/slick.css" rel="stylesheet" />
    <link href="../slick/slick-theme.css" rel="stylesheet" />
    <link href="../style/header.css" rel="stylesheet" />
    <link href="../style/footer.css" rel="stylesheet" />
    <link href="../style/products.css" rel="stylesheet" />
</head>
<body>
    <header class="header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <nav>
            <ul>
                <li><a href="./index.html">ANA SAYFA</a></li>
                <li><a href="./products.html">ÜRÜNLER</a></li>
                <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                <li><a href="./contact.html">İLETİŞİM</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </header>
    <header class="mobile-header-menu">
        <div><img src="../images/logo.png" alt="logo" /></div>
        <div class="menu-button"><i class="fas fa-bars"></i></div>
    </header>
    <section class="mobile-menu-content">
        <div class="mobile-head">
            <img src="../images/logowhite.png" alt="logo" />
            <i class="fas fa-times close-menu-icon"></i>
        </div>
        <div class="mobile-menu">
            <h3>MENÜ</h3>
            <nav>
                <ul>
                    <li><a href="./index.html">ANA SAYFA</a></li>
                    <li><a href="./products.html">ÜRÜNLER</a></li>
                    <li><a href="./about-us.html">HAKKIMIZDA</a></li>
                    <li><a href="./contact.html">İLETİŞİM</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </section>
    <section class="container-fluid main">
        <div class="row">
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/headset.png" alt="headset" width="200" />
                    <img src="../images/products/headset2.png" alt="headset2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Headset</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/headset.png" alt="headset" width="200" />
                    <img src="../images/products/headset2.png" alt="headset2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Headset</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/headset.png" alt="headset" width="200" />
                    <img src="../images/products/headset2.png" alt="headset2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Headset</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/headset.png" alt="headset" width="200" />
                    <img src="../images/products/headset2.png" alt="headset2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Headset</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/headset.png" alt="headset" width="200" />
                    <img src="../images/products/headset2.png" alt="headset2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Headset</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/headset.png" alt="headset" width="200" />
                    <img src="../images/products/headset2.png" alt="headset2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Headset</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/headset.png" alt="headset" width="200" />
                    <img src="../images/products/headset2.png" alt="headset2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Headset</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div><div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="product-slide">
                    <img src="../images/products/mouse.png" alt="mouse" width="200" />
                    <img src="../images/products/mouse2.png" alt="mouse2" width="200" />
                </div>
                <div class="card-header">
                    <h4>Mouse</h4>
                </div>
                <div class="card-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="card-footer">
                    <a href="./product.html">İNCELE</a>
                    <p>219TL</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>LOREM IPSUM</h4>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
        <p class="copyright">Oğuzhan Yakupoğlu 2021</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="../slick/slick.js"></script>
    <script src="../script/header.js"></script>
    <script src="../script/products.js"></script>
</body>
</html>