<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <span class="arrow"><i class="fas fa-caret-left"></i></span>
        <ul>
            <li><a href="./index.html">INDEX</a></li>
            <li><a href="./test1.html">TEST1</a></li>
            <li><a href="./test2.html">TEST2</a></li>
            <li><a href="./test3.html">TEST3</a></li>
            <li><a href="./test4.html">TEST4</a></li>
            <li><a href="./test5.html">TEST5</a></li>
            <li><a href="./test6.html">TEST6</a></li>
            <li><a href="./test7.html">TEST7</a></li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../script.js"></script>
</body>
</html>