.container {
    margin-left: auto;
    margin-top: 30px;
    padding: 30px 10px;
    width: 200px;
    height: 200px;
    background-color: orangered;
    display: flex;
    position: relative;
    overflow-y: scroll;
    font-family: 'Times New Roman';
    font-weight: bold;
}

    .container span.arrow {
        color: white;
        font-size: 22px;
        position: absolute;
        right: 20px;
        top: 0px;
        transition: .5s ease-out;
    }

        .container span.arrow.active {
            animation: arrow-anim .8s infinite linear;
        }

@keyframes arrow-anim {
    0% {
        right: 20px;
    }

    50% {
        right: 35px;
    }

    100% {
        right: 20px;
    }
}

.container ul {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    position: relative;
    text-align: end;
}

    .container ul li {
        width: 100%;
    }

        .container ul li a {
            display: block;
            padding: 10px 0px;
            color: white;
            text-decoration: none;
            padding-right: 50px;
            overflow-wrap: anywhere;
        }

            .container ul li a:hover {
                opacity: .5;
            }
