footer {
    padding-top: 1.5rem;
    border-top: 1px solid #a8a8a8;
    bottom: 0;
    width: 100%;
}
    footer .copyright {
        font-size: 1.2rem;
        margin: 0;
        text-align: center;
        padding:1rem 0;
        border-top:1px solid rgba(168, 168, 168, 0.50);
    }