.main {
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: #000;
    text-align: center;
}

    .main .product-info {
        order: 1;
        text-align:center;
    }

    .main .product-image {
        order: 0;
    }

    .main h2 {
        font-weight: 300;
        font-size: 55px;
    }

        .main h2 strong {
            font-weight: 600;
        }

    .main ul {
        margin-bottom: 1.875rem;
        list-style: none;
        padding: 0px;
    }

        .main ul li {
            font-size: 15px;
            line-height: 2;
        }

    .main .price {
        font-weight: bold;
        font-size: 2rem;
        padding-left: 10px;
    }

    .main button.buy {
        outline: none;
        background-color: #fff;
        color: #000;
        border: 1px solid black;
        padding: 0.5rem 2rem;
        border-radius: 40px;
        font-size: 0.8rem;
    }

        .main button.buy:hover {
            background-color: #000;
            color: #fff;
        }

    .main .product-slide img {
        width: 60% !important;
    }

@media(min-width:992px) {
    .main {
        text-align: start
    }
        .main .product-info {
            order: 0;
        }

        .main .product-image {
            order: 1;
        }

        .main h2 {
            font-size: 7.5rem;
        }

        .main ul li {
            font-size: 1.5rem;
            line-height: 2;
        }

        .main .price {
            font-size: 2.8rem;
        }

        .main button.buy {
            font-size: 1.3rem;
        }

        .main .product-slide img {
            width: 100% !important;
        }
}
.detail {
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    background-color: #e8e8e9;
    color: #000;
    font-weight: lighter;
}

    .detail button {
        outline: none;
        background-color: transparent;
        color: #000;
        border: 1px solid black;
        padding: 0.5rem 2rem;
        border-radius: 40px;
        font-size: 0.8rem;
        font-weight:bold;
        font-size:15px;
    }
    .detail p {
        font-size:1.25rem;
        margin-top:3rem;
        text-align:center
    }
    .detail ul {
        /*list-style:none;*/
    }
    .detail ul li{
        font-size:14px;
        line-height:1.5;
    }

@media (min-width: 992px){
    .detail {
        padding-left: 5rem;
    }
    .detail button {
        font-size: 25px;
    }
    .detail p {
        font-size: 1.5rem;
        text-align:start;
    }
    .detail ul li {
        font-size: 1.6rem;
    }
}