html {
    background-color: #151515;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    animation-name: start-site;
    animation-duration: 1s;
}

@keyframes start-site {
    0% {
        transform: translate(-100%, 0%);
    }

    50% {
        transform: translate(15%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

body > div {
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.top-menu {
    width: 100%;
    height: 0px;
    position: relative;
    background-color: #2e2e2e;
    border: 2px solid #1b1b1b;
    display: flex;
    justify-content: center;
    transition: .3s ease-in-out;
}

.open {
    height: 350px;
}

span.menu-btn {
    padding: 6px 8px;
    background-color: #b20000;
    border: 2px solid #810000;
    position: absolute;
    top: 100%;
    transition: .2s ease-in-out;
    cursor: pointer;
    color: white;
    border-radius: 0 0 10px 10px;
}

    span.menu-btn:hover {
        padding: 10px 5px;
    }

.menu-icon {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}
    .menu-icon span {
        position: absolute;
        width: 40px;
        height: 4px;
        left: 0;
        background-color: #fff;
        transition: .2s ease-in-out;
        border-radius: 10px;
    }

        .menu-icon span:nth-child(1) {
            border-right: 10px solid #464646;
            top: 0px;
        }

        .menu-icon span:nth-child(2) {
            top: 20px;
            border-right: 10px solid #fff;
        }

        .menu-icon span:nth-child(3) {
            border-left: 10px solid #464646;
            top: 40px;
        }

    .menu-icon.active span:nth-child(1) {
        box-shadow: -0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
        transform: rotate(45deg);
        top: 25px;
    }

    .menu-icon.active span:nth-child(2) {
        box-shadow: 0.4em 0 0.6em 0.1em rgba(40, 175, 205, 0.75);
        left: -50px;
        opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
        box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
        transform: rotate(-45deg);
        top: 25px;
    }


.paper {
    width: fit-content;
}

    .paper label {
        background-color: #b4b4b4;
        padding: 15px 30px;
        text-decoration: none;
        color: black;
        position: relative;
        cursor: pointer;
        border-radius: 10px;
    }

        .paper label:hover:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            background: linear-gradient( 135deg, #151515 45%, #aaa 50%, #ccc 56%, white 80%);
            border-radius: 0 0 10px 0;
        }


.button {
    width: 150px;
    height: 60px;
    background-color: #808080;
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

    .button .button-anim {
        width: 100%;
        height: 100%;
        position: absolute;
        left: -160px;
        background-color: #585858;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s ease-in-out;
    }

        .button .button-anim i {
            font-size: 40px;
            color: white;
        }

        .button .button-anim.show {
            left: 0px;
        }

.icon-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 70px;
}

    .icon-container:hover {
        cursor: pointer;
    }

    .icon-container i {
        transition: .2s ease-in-out;
    }

        .icon-container i.active {
            transform: translate(0%, -100%)
        }

.buy-btn {
    width: 13rem;
    height: 4rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px 10px 30px 10px;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
    transition:.5s all;
}
    .buy-btn:hover {
        cursor: pointer;
        box-shadow: 0 0 40px -10px #a7a7a7;
    }
    .buy-btn i.check {
        opacity:0.8;
        font-size: 0px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .buy-btn p {
        opacity:0.8;
        font-weight: bold;
        font-size: 20px;
        margin-left: 20px;
    }

    .buy-btn .icons {
        position: relative;
        width: 32px;
        height: 32px;
        margin-left: 10px;
    }

        .buy-btn .icons i.cart {
            font-size: 32px;
            opacity: 0.7;
            position:absolute;
            z-index:2;
        }

        .buy-btn .icons i.bag {
            color: darkgreen;
            position: absolute;
            left: 13px;
            top: -3rem;
            transform: rotate( 30deg );
            font-size: 22px;
        }
            .buy-btn .icons i.bag.active {
                transition: all 1s;
                top: -8px;
            }

    .buy-btn p.active {
        transition: all 1s;
        opacity: 0;
    }

    .buy-btn .icons.active {
        transition: all 1s;
        transition-delay: 1s;
        transform: translate(220px, 0px);
    }
    .buy-btn i.check.active {
        transition: all .5s;
        transition-delay: 1.5s;
        font-size: 32px;
    }